.progress-bar{height:4px;border-radius:2px;background-color:#ddd}
.progress-bar .progress-bar-gage{width:0;height:100%;border-radius:2px;background-color:#777;transition:width 0.6s ease, background-color 0.6s ease}

