.battery-progress{position:relative;height:40px;margin-right:6px;border:3px solid #fff;border-radius:3px;padding:4px;box-sizing:border-box}
.battery-progress::after{content:'';position:absolute;top:50%;right:-7px;width:6px;height:30px;margin-top:-15px;border-radius:0 2px 2px 0;background-color:#fff}
.battery-progress .battery-progress-gage{width:100%;height:100%;border-radius:2px;background-color:#fff;}
.battery-progress .battery-progress-gage.charge{background-image:url(../img/battery-charge-bg.png);background-repeat:repeat-x;background-position:0 0;animation-name:background-animation;animation-iteration-count:infinite;animation-duration:500ms;animation-timing-function: linear;animation-direction:normal;}
.battery-progress .battery-progress-gage-text{position:absolute;top:50%;left:50%;width:40px;margin:-10px 0 0 -20px;border-radius:4px;text-align:center;line-height:20px;background-color:#00000066;}

@keyframes background-animation{
  from{background-position:0 0}
  to{background-position:26px 0}
}